{% extends "global/Page.html" %}
{% load staticfiles otree_tags %}

{% block title %}
    Questionnaire
{% endblock %}

{% block content %}

    <p>
        This scale consists of a number of words that describe different feelings and emotions.<br/>
        Read each item and then select the number from the below next to each word.<br/>
        <b>Indicate to what extent you feel this way right now, that is, at the present moment.</b><br/>
    </p>
    <br/>

    {% for field in form %}
        {% formfield field %}
    {% endfor %}

    {% next_button %}

{% endblock %}