{% extends "global/Page.html" %}
{% load staticfiles otree_tags %}

{% block title %}
    Instructions
{% endblock %}

{% block content %}

    <p>
        You are <b>randomly</b> matched to play a game against one of the students in this room.<br/>
        In the game, each of you requests an amount of money (an integer) between <b>$11 and $20</b>.<br/>
        Each participant will receive the amount he requests.<br/>
        A participant will receive an <b>additional $20</b> if:<br/>
        (i) he asks for exactly <b>$1 less</b> than the other player, or<br/>
        (ii) he asks for <b>$20</b> and the other player asks for <b>$11</b>.<br/>
    </p>
    <p>
        <b>Please wait for the players to arrive.</b>
    </p>

{% endblock %}