{% extends "global/Page.html" %}
{% load staticfiles otree_tags %}

{% block title %}
    Welcome
{% endblock %}

{% block content %}

    <p>
        <b>The Game will start when all the players have arrived.</b>
    </p>
    <p>
        1. Please be seated during the experiment<br/>
        2. Please be silent during the experiment<br/>
        3. Do not communicate among yourselves<br/>
        4. If you have any questions please communicate to the experimenter by raising your hands<br/>
    </p>

{% endblock %}